<!DOCTYPE html>
<html>
  <head>
    <title>Tutos-UNAL</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

  <!-- bootstrap -->
  <link rel="stylesheet" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/assets/bootstrap/css/bootstrap.min.css" />

  <!-- font awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- animate.css -->
  <link rel="stylesheet" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/assets/animate/animate.css" />
  <link rel="stylesheet" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/assets/animate/set.css" />

  <!-- gallery -->
  <link rel="stylesheet" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/assets/gallery/blueimp-gallery.min.css">

  
  <link rel="shortcut icon" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/images/favicon.ico" type="image/x-icon">
  <!--
  <link rel="stylesheet" href="http://thebootstrapthemes.com/live/thebootstrapthemes-photography/assets/style.css"> -->
   <link rel="stylesheet" href="https://www.dropbox.com/s/zpvex9eivp8l3x0/style.css?dl=1"> 
  

  


  </head>

  <body>
  <div class="topbar animated fadeInLeftBig"></div>
    <!-- Header Starts -->
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#home"><img src="https://www.dropbox.com/s/tfuguj9gsfyvv1p/unal_b.png?dl=1" alt="logo"></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

             <% if user_signed_in? %>
                <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                <li ><a href="#about">About</a></li>
                 <li><form action="/signout"  id="form1">
  
                     </form>
                 <button type="submit" class="btn btn-outline-success" form="form1" value="Submit"><%= current_user.name if current_user.name %>(logout)</button> </li></li>
              </ul>
            </div>
            <!-- #Nav Ends -->
             <% else %>
              <!-- Nav Starts -->
                 <div class="navbar-collapse  collapse">
                  <ul class="nav navbar-nav navbar-right scroll">
                    <li class="active"><a href="#home">Home</a></li>
                    <li ><a href="#about">Acerca de nosotros</a></li>
                    <!--<li ><a href="#works">Works</a></li>-->
                    <li ><a href="#team">Equipo</a></li>
                    <!--<li ><a href="#partners">Partners</a></li>-->
                    <li ><a href="#contact">Contactenos</a></li>
                      <li><form action="/signin" method="get" id="form1">
  
                     </form>

                     <button type="submit" class="btn btn-outline-success" form="form1" value="Submit">Google +</button> </li> 
                    
                  </ul>
                 </div>
            <!-- #Nav Ends -->
               <% end %>
            

          </div>
        </div>

      </div>
    </div>
<!-- #Header Starts -->
    <!-- Footer Starts -->
    
    <%= yield %>

    <div class="footer text-center spacer">
    <p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p>
    <!--Powered by: <a href="thebootstrapthemes.com">thebootstrapthemes.com</a>-->
    </div>
    <!-- # Footer Ends -->
    <a href="#home" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>

  </body>



</html>
